body {
    margin: 0 auto;
    background-color: rgb(181, 181, 236);
    text-align: center;
    height: 100vh;
    width: 100%;
}

header, footer {
    background-color: rgb(36, 59, 160);
    padding: 1rem 0;
}

h1 {
    margin: 0;
}
/* // */
.logo {
    color: white;
    font-family: cursive;
}

button {
    background-color: black;
    border: none;
    cursor: pointer;
    color: white;
}

.api-container {
    display: flex;
    max-width: 1000px;
    margin: 1rem auto;
}

.weather {
    border: 1px solid black;
    background-color: darkgray;
}

.detail {
    display: inline-block;
}

.btn-container {
    margin-top: .5rem;
}

.btn-container>* {
    margin: .5rem;
}


/* media */

@media (max-width: 740px) {
    .api-container {
        flex-direction: column;
    }